{% extends "base.html" %}
{% block content %}
    <div class="mt-4 p-5 text-dark rounded" style="background-color: #e9ecef">
        <form class="form-group" method="POST">
            {{form.hidden_tag()}}
            <div class="form-group">
                {{form.text.label(class="form-control-label")}}
                {{form.text(class="form-control form-control-lg")}}
            </div>
            <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
{% endblock %}
